body {
  font-family: sans-serif;
}

.progress-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  height: 20px;
  width: 500px;
  background-color: rgb(233, 236, 239);
  border: 1px solid gray;
  border-radius: 15px;
  position: relative;
}

.progress-bar span {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.progress-bar div {
  height: 100%;
  background-color: #00c251;
  border-radius: 15px;
}
